$primary_color: #0F446E; 
$secondary_color: #FFF;
$tertiary_color: #000000;
$fourty_color: #E2231A;

$iconos-fondo: #E5E5E5;
$gris-texto: #4F4F4F;

$color_line_footer: #fff;
$color_circle_steps: #fff;
$color_border_inputs: #000;
$color_border_btns: #000;
$color_font_btns: #fff;

$general_font: 'Open Sans', sans-serif;
$font_titles_primary: 'Bemio';
$font_titles_primary_italic: 'BemioItalic';
$color_font_title_primary: #fff;
$color_border_icon_primary: #000;
